.notesContainer{
    display: flex;     
    justify-content: center;
    align-items: center;
    padding: 5% 5% 4% 25%;   
    width: 300px;
    height: 100px;    
    background: #F5E7DE;
    border-radius: 5px;
    margin: 2% 0% 3% 0%;
  
}

.titleInput {  
    color:#576A82;   
    width: 200px;
    height: 25px;
    left: 457px;
    top: 393px;
    background: #FFFFFF;
    border: 1px solid #576A82;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3%;
    margin: 2% 1% 1% 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }  
 .textInput {
    color:#576A82;   
    width: 200px;
    height: 54px;
    left: 457px;
    top: 393px;
    background: #FFFFFF;
    border: 1px solid #576A82;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3%;
    margin: 2% 1% 1% 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 } 
 .buttonD {
    background: #576A82;
    color:#f5e7de;
    border: none;
    width: 100px;
    height: 20px;
    left: 560px;
    top: 751px;
    margin: 2% 0% 3% 0%;  
    border-radius: 2px;
 }